body {
  font-family: Arial, sans-serif;
  background-color: #e0e0e0;
  margin: 0;
  padding: 20px;
}

.search-container {
  background-color: #3eb489;
  justify-content: space-around;
  padding: 20px;
  width: 400px;
  margin: 0 auto;
}

.title {
  color: #000;
  font-family: Arial;
  font-size: 34px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 20px;
  display: flex;
}

.search-box-div {
  background-color: white;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.search-box-div input[type="text"] {
  border: none;
  width: 90%;
  padding: 5px;
}

.search-box-div .arrows {
  display: flex;
  justify-content: space-around;
}

.options {
  color: #000;
  font-family: Arial;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 20px;
}

.options label {
  color: white;
  display: block;
  margin-bottom: 5px;
}

.slider-container {
  color: white;
}

.slider-container input[type="range"] {
  width: 100%;
}
